<h1>Create New Products</h1>

<div class="row">
<div class="col-md-4">
<%= form_for @product, url: {action: "create"}, html: { class: "form-horizontal"} do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name, class: "form-control", placeholder: "Name" %>
	</br>
	<%= f.label :description %>
	<%= f.text_area :description, class: "form-control", placeholder: "Description" %>
	</br>
	
	<div class="actions">
	<%= f.submit "Submit Product", class: "btn btn-lrg btn-success" %>
	</div>
<% end %>
</div>

<div class="col-md-8">
<div class="well">
<h1>Welcome to Rainforest</h1>
<p><i>Create a new product to add to Rainforest</i></p>
</div>
</div>
</div>
